/*======*/
/*COLORS*/
/*======*/
:root{
	--lightRed: #cc0000;
	--darkRed: #660000;
	--lightBlue: #0052cc;
	--darkBlue: #002966;
	--lightGreen: #29a329;
	--darkGreen: #145214;
	--lightGold: #e6e600;/*40%*/
	--darkGold: #666600;/*20%*/
}

/*===================*/
/*THE IMAGE CONTAINER*/
/*===================*/
.imageContainer{
	position:relative;
	display:flex;
	width:16vw;
	height:40vh;
	padding: 10px solid white;
}

.imageContainer img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*========================*/
/*PERSONAL CHARACTERISTICS*/
/*========================*/


/*===================*/
/*THE POLITICAL GRAPH*/
/*===================*/
.politicalGraph td
{
	width:1.15em;
	height:1.15em;
	border: 0.1em solid black;
}

.redBox
{
	background-color:var(--darkRed);
}

.color-transition{
	transition-duration:1s;
}

.blueBox
{
	background-color:var(--darkBlue);
}

.greenBox
{
	background-color:var(--darkGreen);
}

.yellowBox
{
	background-color:var(--darkGold);
}


/*.grid-container {
	  display: grid;
	  grid-template-areas:
		'header header header header header header'
		'photo photo photo time time time'
		'stockTable stockTable stockTable stockTable stockTable stockTable'
		'stockTable stockTable stockTable stockTable stockTable stockTable'
		'stockTable stockTable stockTable stockTable stockTable stockTable'
		'pieChart pieChart lineChart lineChart toolTips toolTips'
		'pieChart pieChart lineChart lineChart toolTips toolTips';
	  gap: 7px;
	  background-color: black;
	  padding: 5px;
	  height: 100%;
	}
	*/
	
@keyframes pulse{
	0%, 100%
	{
		transform: translateY(0);
		outline:none;
	}
	
	50%
	{
		transform: translateY(15px);
		outline:none;
	}
}